{{- $sourceId := .Get 0 -}}
{{- $pages := .Get 1 | default "" -}}
{{- $prefix := .Get 2 | default "" -}}
{{- $suffix := .Get 3 | default "" -}}
{{- $source := index .Site.Data.bibliography.sources $sourceId -}}

{{- /* Generate a unique footnote ID for this citation */ -}}
{{- $footnoteId := printf "fn-%s-%d" $sourceId (len (split .Page.Content (printf "cite \"%s\"" $sourceId))) -}}

{{- if $source -}}
{{- $citationText := printf "%s%s, <em>%s</em>%s%s%s%s" $prefix $source.author $source.title (cond $source.year (printf " (%s)" $source.year) "") (cond $pages (printf ", %s" $pages) "") (cond $suffix (printf ". %s" $suffix) "") "" -}}
<sup class="footnote-ref">
  <a href="#{{ $footnoteId }}" class="footnote-link" aria-label="Citation footnote">●</a>
</sup>

<span class="footnote-content" id="{{ $footnoteId }}" style="display: none;">
  {{ $citationText | safeHTML }}
  <a href="#ref-{{ $footnoteId }}" class="footnote-backlink" aria-label="Return to text">↩</a>
</span>
{{- else -}}
<sup class="footnote-ref citation-error">
  <a href="#{{ $footnoteId }}" class="footnote-link" aria-label="Citation error">●</a>
</sup>

<span class="footnote-content" id="{{ $footnoteId }}" style="display: none;">
  [Citation: {{ $sourceId }} not found]{{ if $prefix }}{{ $prefix }}{{ end }}{{ if $suffix }} {{ $suffix }}{{ end }}
  <a href="#ref-{{ $footnoteId }}" class="footnote-backlink" aria-label="Return to text">↩</a>
</span>
{{- end -}}