{{- $text := .Get 0 -}}
{{- $transliteration := .Get 1 -}}
{{- $strongs := .Get 2 | default "" -}}
{{- $gloss := .Get 3 | default "" -}}

<span class="original-word greek-word" 
      data-original="{{ $text }}"
      data-transliteration="{{ $transliteration }}"
      {{- if $strongs }} data-strongs="{{ $strongs }}"{{ end }}
      {{- if $gloss }} data-gloss="{{ $gloss }}"{{ end }}
      role="button"
      tabindex="0"
      aria-label="Greek word: {{ $transliteration }}">
  <span class="word-display">{{ $text }}</span>
  <span class="word-tooltip">
    <strong>{{ $transliteration }}</strong>
    {{- if $gloss }}<br>{{ $gloss }}{{ end }}
    {{- if $strongs }}<br><small>Strong's: {{ $strongs }}</small>{{ end }}
  </span>
</span>